*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.headingText{
    margin-bottom: -5%;
    // background: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
